/* The optimal theme is dark theme. */
head {
    background-color: #95190c;
}

body {
    color: darkgray;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart {
    background-color: #95190c;
    margin: 0 auto;
}